<!--Loads the path to your static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'home/style6.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'home/breadcrumbs.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">


        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.biocarbonengineering.com/"><span class="C:\Users\bce\Desktop\website2\home\static\home\images\BCE_logo.png" aria-hidden="true" width="100%"> &nbsp; &nbsp; &nbsp; &nbsp; BioCarbon Engineering</a>

        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home:index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'home:detail2' %}">
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp; Species Databases
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'home:addspecies' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Species
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp; Downloads
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'home:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="Enter Text Here">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="1.4%">&nbsp; NL
                    </a>
                </li>
            </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="1.25%">&nbsp; UK
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<!--Breadcrumbs-->

<ul class="breadcrumb">
    <li><a href="{% url 'home:index' %}">Home</a></li>
    <li><a href="{% url 'home:detail2' %}">Species Databases</a></li>
    <li><a href="{% url 'home:asia' %}">Asia</a></li>
</ul>

<div class="container-fluid">

<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="https://www.biocarbonengineering.com/">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 BioCarbon Engineering Ltd.
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://twitter.com/BioCarbonEng?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <img src="https://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png" aria-hidden="true" height="1.7%">&nbsp Twitter
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://www.facebook.com/biocarbonengineering/">
                    <img src="https://facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" aria-hidden="true" height="1.7%">&nbsp Facebook
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

<h1 class="animatedtext" style="margin-bottom:0.3cm;">Asian Plant Species</h1>
    <p class="animatedtext2"><i>More than 12 000 Species Represented</i></p>
<p class="animatedtext3">Updated 13 December 2018</p>
    <h1 class="animatedtext3"><i>Click on links below to access species specific pages</i></h1>

    {% if all_species %}
        <ul>
            {% for species in all_species %}
                <a href="{% url 'home:detail2' %}"><img src="" aria-hidden="true" alt="Australia with States - Single Color by FreeVectorMaps.com" height="90%" width="80%"></a><!--https://www.freeiconspng.com/uploads/elegant-world-map-image-png-33.png         https://webiconspng.com/wp-content/uploads/2017/09/World-Map-PNG-Image-37156.png-->
            {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any Species</h3>
    {% endif %}
</div>

<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="https://www.biocarbonengineering.com/">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 BioCarbon Engineering Ltd.
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://twitter.com/BioCarbonEng?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <img src="https://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png" aria-hidden="true" height="1.7%">&nbsp Twitter
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://www.facebook.com/biocarbonengineering/">
                    <img src="https://facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" aria-hidden="true" height="1.7%">&nbsp Facebook
                </a>
            </li>
        </ul>
    </div>
</nav>


