<!--Loads the path to your static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'profile/home_style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'profile/breadcrumbs.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Inconsolata:400,700|Satisfy|Ubuntu|Wire+One" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'profile:home' %}" aria-hidden="true" width="100%"> Graham Taylor</a>

        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'profile:index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; About
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:addspecies' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp; Photography
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:contact2' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>


</head>

<style>

div.headertext {
        color: orange;
        font-family: 'Wire One', sans-serif;
        font-size: 75px;
}

div.centre {
        text-align: center;
        font-size: 75px;

}

.content {
  max-width: 500px;
  margin: auto;

}

</style>

<div class="container-fluid">

 <div class="centre headertext">
    <span>Contact me</span>
    <img src="{% static "profile/images/Bee.jpg" %}" style="width:100%; position: absolute; top: 290; left: 0; ">
 </div>

<p>I am currently based in Oxfordshire, the United Kingdom. I am open to collaborating on new data-related projects, photography or videography.
Feel free to contact me if you wish to make something happen. I can be reached on:</p>
<br>

<div class="content">
    <a href="" target=blank>
        <img src="{% static "profile/images/Yahoo2.png" %}" alt="Yahoo Mail" aria-hidden="true" height="50">
    </a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="https://bitbucket.org/g_taylor2/" target=blank>
        <img src="{% static "profile/images/Bitbucket2.png" %}" alt="Bitbucket" aria-hidden="true" height="30">
    </a>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
     <a href="https://www.linkedin.com/in/graham-taylor-4901322a/" target=blank>
         <img src="{% static "profile/images/LinkedIn_black.png" %}" alt="LinkedIn" aria-hidden="true" height="30">
     </a>
</div>


<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 - {% now "Y" %}. All rights reserved.
                </a>
            </li>
            <li class="">
                <a href="http://www.djangoproject.com/" target=blank>
                    <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django" title="Made with Django.">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://bitbucket.org/g_taylor2/" target=blank>
                    <img src="{% static "profile/images/Bitbucket_white.png" %}" alt="Bitbucket" aria-hidden="true" height="12">
                </a>
            </li>
            <!--<li class="">-->
                <!--<a href="https://www.facebook.com/graham.j.taylor.3/" target=blank>-->
                    <!--<img src="{% static "home/images/facebook.png" %}" alt="Facebook" aria-hidden="true" height="17">-->
                <!--</a>-->
            <!--</li>-->
            <li class="">
                <a href="https://www.linkedin.com/in/graham-taylor-4901322a/" target="blank">
                    <img src="{% static "profile/images/LinkedIn.png" %}" alt="LinkedIn" aria-hidden="true" height="16">
                </a>
            </li>
        </ul>

    </div>
</nav>


