<!--Loads the path to your static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'home/w3.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'home/breadcrumbs.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" type="text/css" href="{% static 'home/style12.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.biocarbonengineering.com/"><span class="C:\Users\bce\Desktop\website2\home\static\home\images\BCE_logo.png" aria-hidden="true"</span> &nbsp; &nbsp; &nbsp; &nbsp; BioCarbon Engineering</a>

        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home:index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'home:detail2' %}">
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp; Species Databases
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'home:addspecies' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Species
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp; Downloads
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'home:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="Enter Text Here">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="1.4%">&nbsp; NL
                    </a>
                </li>
            </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="1.25%">&nbsp; UK
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<!--Breadcrumbs-->

<ul class="breadcrumb">
    <li><a href="{% url 'home:index' %}">Home</a></li>
    <li><a href="{% url 'home:detail2' %}">Databases</a></li>
    <li><a href="{% url 'home:africa' %}">Africa</a></li>
    <li><a href="/home/databases/africa/{{ species.id }}/"><i>{{ species.species }}</i></a></li>
</ul>

<div class="container-fluid">

    <style>
    * {
  box-sizing: border-box;
}

.column {
  width: 12.5%;
  padding: 0px;
  margin-top:-0.6cm;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    </style>
</head>

<div class="w3-panel w3-2019-sweet-corn w3-card-4 text-center w3-text-brown" style="position: absolute; margin-top:0cm;; margin-left:15.6cm; margin-right:0.6cm; padding-top:0px; padding-bottom:5px;"/>
    <h1><i>{{ species.species }}</i></h1>
    <h6><b>Synonym: </b><i>{{ species.synonym }}</i></h6>
    <h6><b>Family: </b><i>{{ species.family }}</i></h6>
    <h6><b>Common Name: </b>{{ species.name }}<h6>
</div>

<html>
    <head>
        <style type="text/css">
            .imgStyle
            {
                height:110px;
                width:110px;
                border:1px solid black;
            }

        </style>
    </head>
    <body>
        <div class="boxbox" onclick="changeImage(event)">
            <img id="mainImage" class="left" height="460px" width=550px" src="{{ species.species_pic_tree }}" style="position: absolute; left:20px; top:7.5cm; padding:8px; background-color: white"/>
        <div class="w3-panel opacity w3-card-4 w3-text-black" style="position: absolute; left:16cm; top:7cm; bottom:1.55cm; right:1cm; padding-top:5px; padding-left:30px; padding-right:30px;">

            <br><b>REGION:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.region }}</br>
            <br><b>NATIVE/NATURALISED:&emsp;&emsp;</b>{{ species.native_naturalised }}</br>
            <br><b>COUNTY/STATE: &emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.state }}</br>
            <br><b>HABIT:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b><t>{{ species.habit }}</t></br>
            <br><b>EXOTIC STATUS:&emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.exotic }}</br>
            <br><b>PLANTING SEASON:&nbsp;&emsp;&emsp;&emsp;</b>{{ species.planting_season }}</br>
            <br><b>LIFE CYCLE:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.life_cycle }}</br>
            <br><b>SEEDS PER GRAM (KEW):&nbsp;&nbsp;</b>{{ species.seeds_gram_kew }}</br>
            <br><b>SOIL TYPE:&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.soil_type }}</br>
            <br><b>SALT TOLERANCE:&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;</b>{{ species.salt_tolerance }}</br>
            <br><b>REMARKS:&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.remarks }}</br>
            <br><b>CUSTOMER:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b>{{ species.customer }}</br>

        </div>
            <img src="{{ species.species_pic_tree }}" class="w3-hover-opacity w3-border left" height="132px" width="132px" style="position: absolute; left:20px; top:19.7cm; padding:3px; background-color: white"/>
            <img src="{{ species.species_pic_leaves }}" class="w3-hover-opacity w3-border left" height="132px" width="132px" style="position: absolute; left:160px; top:19.7cm; padding:3px; background-color: white";/>
            <img src="{{ species.species_pic_seeds }}" class="w3-hover-opacity w3-border left" height="132px" width="132px" style="position: absolute; left:300px; top:19.7cm; padding:3px; background-color: white"/>
            <img src="{{ species.species_pic_flowers }}" class="w3-hover-opacity w3-border left" height="132px" width="132px" style="position: absolute; left:440px; top:19.7cm; padding:3px; background-color: white"/>
            </div>


        </div>
            <script type="text/javascript">
                function changeImage(event)
                {
                    event = event || window.event;

                    var targetElement = event.target || event.srcElement;

                    if (targetElement.tagName == "IMG")
                    {
                    document.getElementById("mainImage").src = targetElement.getAttribute("src");
                    }

                }

            </script>

    </body>
</html>

</div>

</body>
</html>


<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="https://www.biocarbonengineering.com/">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 BioCarbon Engineering Ltd.
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://twitter.com/BioCarbonEng?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <img src="https://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png" aria-hidden="true" height="1.7%">&nbsp Twitter
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://www.facebook.com/biocarbonengineering/">
                    <img src="https://facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" aria-hidden="true" height="1.7%">&nbsp Facebook
                </a>
            </li>
        </ul>
    </div>
</nav>
