{% extends "profile/base.html" %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'profile:home' %}" aria-hidden="true" width="100%"> Graham Taylor</a>

        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'profile:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; About
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:photography' %}">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp; Photography
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'profile:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<style>
div.centre {
        text-align: center;
        font-size: 6px;

}

div.justify-centre {
        text-align: center;

}

div.column-far-left {
        position: absolute;
        left: 500;
        right: 1000;
}

div.column-left {
        position: absolute;
        left: 1020;
        right: 450;
}

div.black {
        color: black;

}

.text-orange {
        color: orange;

}

.text-white {
        color: white;

}

div.nametext {
        color: black;
        font-family: 'Inconsolata', monospace;
        font-size: 80px;
}

div.headertext {
        color: orange;
        font-family: 'Wire One', sans-serif;
        font-size: 75px;
}

table.centre {
        margin-left: auto;
        margin-right: auto;
}

table.table1 {
        width: 50%;

}

table.table2 {
        margin-top: 50px;

}

th {
  text-align: left;
  vertical-align: top;

}

td {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;

}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(12, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.arrow {
    background: orange;
	color: black;
}

.scroll-indicator {
	position: absolute;
	left: 95%;
	font-size: 50px;

	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 88%; }
	 50%   { top: 89%; }
	 100% { top: 88%; }
}

@keyframes bounce {
	 0% { top: 88%; }
	 50%   { top: 89%; }
	 100% { top: 88%; }
}



#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2000px;
}


</style>

<h1>Contact Me</h1>
<form method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>

{% endblock content %}