{% extends "profile/base.html" %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"> Graham Taylor</a>

        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'profile:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; About
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:photography' %}">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp; Photography
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
div.centre {
        text-align: center;
        font-size: 6px;

}

div.justify-centre {
        text-align: center;

}

div.column-far-left {
        position: absolute;
        left: 500;
        right: 1000;
}

div.column-left {
        position: absolute;
        left: 1020;
        right: 450;
}

div.black {
        color: black;

}

.text-orange {
        color: orange;

}

.text-white {
        color: white;

}

div.nametext {
        color: black;
        font-family: 'Inconsolata', monospace;
        font-size: 80px;
}

div.headertext {
        color: orange;
        font-family: 'Wire One', sans-serif;
        font-size: 75px;
}

table.centre {
        margin-left: auto;
        margin-right: auto;
}

table.table1 {
        width: 50%;

}

table.table2 {
        margin-top: 50px;

}

th {
  text-align: left;
  vertical-align: top;

}

td {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;

}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(12, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.arrow {
    background: orange;
	color: black;
}

.scroll-indicator {
	position: absolute;
	left: 95%;
	font-size: 50px;

	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 88%; }
	 50%   { top: 89%; }
	 100% { top: 88%; }
}

@keyframes bounce {
	 0% { top: 88%; }
	 50%   { top: 89%; }
	 100% { top: 88%; }
}



#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2000px;
}


</style>


<div class="centre nametext typewriter">
    <span>Graham Taylor</span>
</div>
<div class ="centre black">
   <br>______________________________________________________________________________________________________________________________________________________________________________________________________________</br>
</div>
<div class="centre headertext">
    <span>Botanist + Data Scientist + Programmer</span>
    <br>
    <img src="{% static "profile/images/Blue_flower.jpg" %}" style="position: relative; left: 0; width: 100%;">
</div>
<div class="scroll-indicator fa fa-chevron-down arrow" style="position: fixed;"></div>


<div class="w3-section w3-2019-sweet-corn" style="position: relative; top: -20px; left: 0; height: auto; padding-bottom: 50px;">
    <div class="justify-centre headertext">
        <p></p>
        <p>Profile</p>
    </div>
    <div class="justify-centre">
        <div class="w3-container centre">
            <img src="{% static "profile/images/me.png" %}" class="w3-circle" alt="Profile Picture" style="width: 22%">
        </div>
        <br>
        <br>
        <h1 class="text-orange">Education</h1>
        <br>
        <h4><i>“A good head and good heart are always a formidable combination. But when you add to that a literate tongue or pen, then you have something very special.”</i> - Nelson Mandela</h4>
        <br>
    </div>

    <table class="centre table1" style="position: relative;">
        <tr>
            <td style="padding-right: 70px; width: 50%;"><h4><b>Wageningen University and Research Centre, the Netherlands</b></h4>Sept 2011 - present</td>
            <td style="padding-left: 70px; width: 50%;"><h4><b>PhD Botany</b> "The Physiological Basis of High Photosynthetic Capacities observed in some C3 Plants"</h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4>September 2009 - November 2012</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>MSc. Biological Science</b> "The Effect of Laundry Greywater on Soils and Growth of Swiss Chard (<i>Beta vulgaris</i>) and Sweet Pepper (<i>Capsicum annuum</i>)"
        Internal Examination Pass, External Examination Linkoping University, Sweden <i>Cum laude</i>
            </h4></td>
        </tr>
         <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4>February 2008 - November 2008</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>BSc. (Hons.) Biological and Conservation Science</b> "Are Xylem Characteristics Associated with the Growth Rates of Trees? An Investigation of Species Co-Occuring in the Subtropics"
        Internal Examination <i>Cum laude</i>
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4>2006</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>BSc. Environmental Science</b> Life Science stream. Grade: 2:1
            </h4></td>
        </tr>
        <tr>
           <br>
        </tr>
    </table>

</div>

    <!--Work Experience-->
<div class="w3-section w3-2018-coconut-milk" style="position: relative; top: -40px; left: 0px; width: 100%; height: auto; padding-bottom: 50px;">
    <div class="justify-centre">
        <br>
        <h1 class="text-orange">Work Experience</h1>
        <br>
        <h4><i>“Experience: that most brutal of teachers. But you learn, my God do you learn.” C.S. Lewis</i></h4>
    </div>

    <table class="centre table1" style="position: relative;">
        <tr>
            <td style="padding-right: 70px; width: 50%;"><h4><b>BioCarbon Engineering Ltd., Oxford, United Kingdom</b></h4>November 2016 - present</td>
            <td style="padding-left: 70px; width: 50%;"><h4>Collating, analyzing and presenting data of plant species and climate to generate custom planting plans for international clients, from private landholders to MNC mine corporations</h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>Wageningen University and Research Centre, the Netherlands</b></h4>2011 - 2016</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>PhD Botany</b> BSc. and MSc. Student supervision. Practical Demonstration of Courses and Tutoring
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>Wageningen University and Research Centre, The Netherlands</b></h4>2016 - </td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Guest Researcher</b> Continuation of PhD work on Photosynthesis
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>Partners in Development, South Africa</b></h4>January 2008 - September 2009</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Research Consultant</b> Consultant of a sustainability project assessing the impact of waste sludge on crop and tree growth and yields.
        Field researcher/consultant in a project initiated by Partners in Development, a civil engineering consultancy in Pietermaritzburg, South Africa.
        Implemented and coordinated field trials to evaluate waste sludge and urine suitability as a fertiliser for supporting plant growth.
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4> January 2008 - September 2009</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Tutor</b> Certified Study Methods and Research Techniques tutor at UKZN and tutored undergraduates in biological sciences
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4> January 2008 - September 2009</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Scientific Demonstrator</b> Laboratory demonstrator of practical scientific techniques and equipment/instrumentation for undergraduate biology students’ practicals
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>Servistar/Builder's Express</b></h4> March 2003 - September 2006</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Sales Assistant</b> Weekend sales assistant at a Home & Garden Nursery centre. Demonstrating products to customers and providing technical advice</h4>
        </tr>
    </table>
</div>

<div class="w3-section w3-2018-meerkat" style="position: relative; top: -60px; left: 0px; height: auto; width: 100%; padding-bottom: 50px;">
    <div class="justify-centre">
        <br>
            <h1 class="text-orange">Awards</h1>
            <br>
        <h4><i>“I have not failed. I’ve just found 10,000 ways that won’t work.”</i> ― Thomas A. Edison”</h4>
    </div>

    <table class="centre table1" style="position: relative;">
        <tr>
            <td style="padding-right: 70px; width: 50%;"><h4><b>South African Government</b></h4>2008</td>
            <td style="padding-left: 70px; width: 50%;"><h4><b>National Research Foundation Tertiary Education Bursary</b> for Academic Achievement</h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4>2012-2014</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Faculty Dean's Commendation</b> for first class pass
            </h4></td>
        </tr>
         <tr>
            <td style="padding-top: 0px;"><h4><b>Golden Key International Honour Society, United States of America</b></h4>2006</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>Awarded Membership to Golden Key International Honour Society</b> for Academic Achievement
            </h4></td>
        </tr>
        <tr>
            <td style="padding-top: 0px;"><h4><b>University of KwaZulu-Natal, South Africa</b></h4>2006</td>
            <td style="padding-left: 70px; padding-top: 0px;"><h4><b>University Tuition Fee Bursary</b> for Academic Achievement
            </h4></td>
        </tr>
    </table>
</div>

<div class="w3-section w3-2018-cherry-tomato" style="position: relative; top: -80px; left: 0px; height: auto; width: 100%; padding-bottom: 50px;">
    <div class="justify-centre">
        <br>
        <h1 class="text-orange">Voluntary Work</h1>
        <br>
        <h4><i>“The smallest act of kindness is worth more than the grandest intention.”</i> - Oscar Wilde</h4>
    </div>

    <!--<p>Research is to see what everybody else has seen, and to think what nobody else has thought. Albert Szent-Gyorgyi</p>-->

    <table class="centre table1 text-white" style="position: relative;">
        <tr>
            <td style="padding-right: 70px; width: 50%;"><h4><b>Wageningen University and Research Centre, C.T. de Wit Production Ecology and Resource Conservation Graduate School (PE&RC), the Netherlands</b></h4>2012-2014</td>
            <td style="padding-left: 70px; width: 50%;"><h4><b>Chair</b> - Twice elected as Chair of an annual international conference organisational committee for the PE&RC</h4></td>
        </tr>
        <tr>
            <td style="padding-top: 30px;"><h4><b>Bats KZN, South Africa</b></h4>2012-2014</td>
            <td style="padding-left: 70px; padding-top: 30px;"><h4><b>Secretary</b> - Twice elected as Secretary of registered charity dedicated to promoting bat conservation.
            I conducted scientific surveys of endangered bats for the Durban Natural History Museum and assisted with public sector- and corporate outreach activities.
            See: <a href="https://www.batskzn.co.za/" target=blank>BatsKZN Website</a></h4></td>
        </tr>
    </table>
</div>


{% endblock content %}

