<!--Loads the path to your static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'profile/home_style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'profile/breadcrumbs.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Inconsolata:400,700|Satisfy|Ubuntu|Wire+One" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'profile/images/favicon-32x32.png' %}"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'profile:home' %}" aria-hidden="true" width="100%"> Graham Taylor</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'profile:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; About
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'profile:photography' %}">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp; Photography
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'profile:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>

div.headertext {
        color: orange;
        font-family: 'Wire One', sans-serif;
        font-size: 75px;
}

div.centre {
        text-align: center;
        font-size: 75px;

}

.content {
  max-width: 500px;
  margin: auto;

}

.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}


* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column-grid {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>

<div class="container-fluid">

 <div class="centre headertext">
    <span>Photography Portfolio</span>
 </div>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="{% static "profile/images/swiss1.jpg" %}" style="width:100%;">
  <div class="text">Montreux from Caux Palace - Switzerland (2016)</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{% static "profile/images/swiss2.jpg" %}" style="width:100%;">
  <div class="text">Montreux - Switzerland (2016)</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{% static "profile/images/swiss3.jpg" %}" style="width:100%;">
  <div class="text">Montreux - Switzerland (2016)</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>

<!--Creates Automated and Manual Slideshow-->

var slideIndex = 1;
var timer = null;
showSlides(slideIndex);

function plusSlides(n) {
  clearTimeout(timer);
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  clearTimeout(timer);
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n==undefined){n = ++slideIndex}
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  timer = setTimeout(showSlides, 5000);
}
</script>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('nature')"> Nature</button>
  <button class="btn" onclick="filterSelection('infrastructure')"> Infrastructure</button>
  <button class="btn" onclick="filterSelection('people')"> People</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/swans.jpg" %}" style="width:100%;">
      <h4>Swans on Lake</h4>
      <p>Buscot, United Kingdom</p>
    </div>
  </div>
  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/sycamore_seeds.jpg" %}" style="width:100%;">
      <h4>Sycamore Seeds</h4>
      <p>Buscot, United Kingdom</p>
    </div>
  </div>
  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/bark.jpg" %}" style="width:100%;">
      <h4>Tagged Tree</h4>
      <p>Witney, United Kingdom</p>
    </div>
  </div>

  <div class="column-grid infrastructure">
    <div class="content">
      <img src="{% static "profile/images/sydney_bridge.jpg" %}" style="width:100%;">
      <h4>Sydney Harbour Bridge</h4>
      <p>Sydney, Australia</p>
    </div>
  </div>
  <div class="column-grid infrastructure">
    <div class="content">
      <img src="{% static "profile/images/mosman_bay.jpg" %}" style="width:100%;">
      <h4>Mosman Bay</h4>
      <p>Sydney, Australia</p>
    </div>
  </div>
  <div class="column-grid infrastructure">
    <div class="content">
      <img src="{% static "profile/images/sydney_skyline.jpg" %}" style="width:100%;">
      <h4>Sydney Skyline</h4>
      <p>Sydney, Australia</p>
    </div>
  </div>

  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/crocus.jpg" %}" style="width:100%;">
      <h4>Croci in Bloom</h4>
      <p>Witney, United Kingdom</p>
    </div>
  </div>
  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/bush_cricket.jpg" %}" style="width:100%;">
      <h4>Bush Cricket</h4>
      <p>Witney, United Kingdom</p>
    </div>
  </div>
  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/stigma_style.jpg" %}" style="width:100%;">
      <h4>Stigma</h4>
      <p>Witney, United Kingdom</p>
    </div>
  </div>


  <div class="column-grid nature">
    <div class="content">
      <img src="{% static "profile/images/drakensberg.jpg" %}" style="width:100%;">
      <h4>Garden Castle</h4>
      <p>Southern Drakensberg, South Africa</p>
    </div>
  </div>
  <div class="column-grid nature">
    <div class="content">
    <img src="{% static "profile/images/drakensberg2.jpg" %}" style="width:100%;">
      <h4>Garden Castle</h4>
      <p>Southern Drakensberg, South Africa</p>
    </div>
  </div>
  <div class="column-grid nature">
    <div class="content">
    <img src="{% static "profile/images/Drakensberg_flowers.jpg" %}" style="width:100%;">
      <h4>Drakensberg Flowers</h4>
      <p>Southern Drakensberg, South Africa</p>
    </div>
  </div>


<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

<script>

<!--Photo Filter-->

filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column-grid");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

{% for image in images %}
<img src="{% static "profile/images/{{image}}" %}" />
{% endfor %}

<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 - {% now "Y" %}. All rights reserved.
                </a>
            </li>
            <li class="">
                <a href="http://www.djangoproject.com/" target=blank>
                    <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django" title="Made with Django.">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://bitbucket.org/g_taylor2/" target=blank>
                    <img src="{% static "profile/images/Bitbucket_white.png" %}" alt="Bitbucket" aria-hidden="true" height="13">
                </a>
            </li>
            <li class="">
                <a href="https://www.linkedin.com/in/graham-taylor-4901322a/" target="blank">
                    <img src="{% static "profile/images/LinkedIn.png" %}" alt="LinkedIn" aria-hidden="true" height="16.5">
                </a>
            </li>
        </ul>

    </div>
</nav>

</body>


