<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--Loads the path to your static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'profile/home_style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'profile/breadcrumbs.css' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Inconsolata:400,700|Satisfy|Ubuntu|Wire+One" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'profile/images/favicon-32x32.png' %}"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script async src="https://static.addtoany.com/menu/page.js"></script>

<body>

<div class="w3-section w3-2019-sweet-corn" style="position: absolute; top: -20px; left: 0px; height: 1500; width: 100%;">
    <br>
    <br>
    <br>
    <br>
    <div class="justify-centre headertext">
        <p></p>
        <p>Message Sent!</p>
    </div>
    <br>
    <br>
    <div class="justify-centre typewriter">
        <p></p>
        <h1><b>Thank You</b></h1>
    </div>
    <div class="justify-centre">
        <br>
        <br>
        <h4><b>Your message has been sent and received and will be responded to as soon as possible</b></h4>
    </div>
    <br>
    <br>
    <br>
    <div class="button button-centre">
        <a href="{% url 'profile:home' %}" class="button">Return to Home Page</a>
    </div>

    <nav class="navbar navbar-inverse" style="position: absolute; top: 20px; width: 100%;">
        <div class="container-fluid">

            <!--Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'profile:home' %}" aria-hidden="true"> Graham Taylor</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'profile:home' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'profile:about' %}">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; About
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'profile:photography' %}">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'profile:photography' %}">
                            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp; Photography
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'profile:contact' %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/1200px-Flag_of_the_Netherlands.svg.png" aria-hidden="true" height="14">&nbsp; NL
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" aria-hidden="true" height="12">&nbsp; UK
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<style>
div.centre {
        text-align: center;
        font-size: 6px;

}

div.justify-centre {
        text-align: center;

}

div.column-far-left {
        position: absolute;
        left: 500;
        right: 1000;
}

div.column-left {
        position: absolute;
        left: 1020;
        right: 450;
}

div.column-centre {
        position: absolute;
        left: 700;
        right: 700;
}

div.black {
        color: black;

}

.text-orange {
        color: orange;

}

div.nametext {
        color: black;
        font-family: 'Inconsolata', monospace;
        font-size: 80px;
}

div.headertext {
        color: orange;
        font-family: 'Wire One', sans-serif;
        font-size: 75px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(12, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.arrow {
    background: orange;
	color: black;
}

.scroll-indicator {
	position: absolute;
	left: 95%;
	font-size: 50px;

	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 83%; }
	 50%   { top: 84%; }
	 100% { top: 83%; }
}

@keyframes bounce {
	 0% { top: 83%; }
	 50%   { top: 84%; }
	 100% { top: 83%; }
}

.button {
      background-color: black;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 0px 0px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;

}

.button:hover { opacity: 1

}

div.button-centre {
      width: 350px;
      display: block;
      margin: 0 auto;
}


</style>

</body>

    <!--<p>Research is to see what everybody else has seen, and to think what nobody else has thought. Albert Szent-Gyorgyi</p>-->

<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 - {% now "Y" %}. All rights reserved.
                </a>
            </li>
            <li class="">
                <a href="http://www.djangoproject.com/" target=blank>
                    <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django" title="Made with Django.">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://bitbucket.org/g_taylor2/" target=blank>
                    <img src="{% static "profile/images/Bitbucket_white.png" %}" alt="Bitbucket" aria-hidden="true" height="13">
                </a>
            </li>
            <li class="">
                <a href="https://www.linkedin.com/in/graham-taylor-4901322a/" target="blank">
                    <img src="{% static "profile/images/LinkedIn.png" %}" alt="LinkedIn" aria-hidden="true" height="16.5">
                </a>
            </li>
        </ul>

    </div>
</nav>
</html>