{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<p class="justify-centre" style="background-color:gray; color: white; margin-top:10px; padding-top: 2px; padding-bottom: 2px;">Free U.K. Mainland Shipping</p>

<nav class="navbar navbar-default" style="background-color: white; padding-left: 40px;">
<!-- <nav class="navbar-default" style="background-color: white"> -->

    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"><span><img src="{% static "shop/images/oxford_logo2.png" %}" height=50; style="position: relative; top:-15px";/></span><span style="position: relative; top:-15px; right:-3px;"> Oxford Micro</span><span style="color: green; position: relative; top:-15px; right:-3px;">Farm</span></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <div class="dropdown">
                            <button class="dropbtn" style="position: relative; top: -17px;"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>&nbsp; Products
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'shop:microgreens' %}">Microgreens</a>
                                <a href="#">Product B</a>
                                <a href="#">Product C</a>
                                <a href="#">Product D</a>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'shop:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Our Story
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:team' %}">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp; Our Team
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Delivery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact Us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="{% static "shop/images/Netherlands_Flag.png" %}" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="{% static "shop/images/UK_Flag.png" %}" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:profile' %}">
                     {% else %}
                         <a href="{% url 'shop:register' %}">
                     {% endif %}
                         {% if request.user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Welcome, <b>{{ request.user.username }}</b></a>
                         {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account</a>
                         {% endif %}
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_authenticated %}
                         <a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                     {% else %}
                     {% endif %}
                 </li>
            </ul>

        </div>
    </div>
</nav>

<br>
<div class="justify-centre nametext">
     <span>Oxford Micro</span><span style="color:green;">Farm</span>
</div>
<div class ="justify-centre">
     <p>_______________________________________________________________________________________________________________________________________</p>
</div>
<br>
<div class="justify-centre typewriter headertext">
    <span>Our Story...</span>
</div>

<div class="w3-section w3-2019-sweet-corn" style="position: relative; top: 0px; left: 0px; height: auto;">
    <div class="justify-centre">
        <div class="w3-container">
            <br>
            <img src="{% static "shop/images/philip.jpg" %}" class="w3-circle" alt="shop Picture" style="width:400px;">
        </div>
        <br>
        <br>
    </div>

    <div class="justify-centre" style="padding-bottom: 180px; margin-left: 25%; margin-right: 25%;">
        <br>
        <p class="justify-centre" style="font-size:20px;"><b>A warm welcome.</b></p>
        <p>Our journey started with an idea in 2012 by founder Philip Jones to bring fresh, organic, nutritious vegetables to customers, restaurants and hotels with Oxford's finest green delicacies. Oxford MicroFarms has succeeded in establishing clients with some of Oxford's historic eateries including  the Turl Street Kitchen and Akeman Inns.</p>
        <p></p>
        <p class="handwritten"></p>
        <p>We look forward to supporting you as an integral part of our continued success.</p>
        <p>Sincerely,<br></p>
        <p class="handwritten justify-centre">Philip & Tracey Jones</p>
    </div>
</div>
    <!--<p>Research is to see what everybody else has seen, and to think what nobody else has thought. Albert Szent-Gyorgyi</p>-->

{% endblock content %}


