<!DOCTYPE html>
<html lang="en">

{% include "shop/header.html" %}
{% include "shop/scripts.html" %}

<body class="Site">
<main class="Site-content">
    {% block content %}
    {% endblock content %}
</main>
</body>

{% include "shop/footer.html" %}

</html>