{% load static %}
<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 - {% now "Y" %}. All rights reserved.
                </a>
            </li>
            <li class="">
                <a href="http://www.djangoproject.com/" target="blank">
                    <img src="{% static "shop/images/django_logo.gif" %}" border="0" alt="Made with Django" title="Made with Django.">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="" target="blank">
                    <img src="{% static "shop/images/LinkedIn.png" %}" alt="LinkedIn" aria-hidden="true" height="17px"></span>
                </a>
            </li>
            <li class="">
                <a href="" target="blank">
                    <img src="{% static "shop/images/Facebook.png" %}" alt="Facebook" aria-hidden="true" height="20px">
                </a>
            </li>
            <li class="">
                <a href="" target="blank">
                    <img src="{% static "shop/images/twitter.png" %}" alt="Twitter" aria-hidden="true" height="20px">
                </a>
            </li>
            <li class="">
                <a href="" target="blank">
                    <img src="{% static "shop/images/youtube.png" %}" alt="Instagram" aria-hidden="true" height="15px">
                </a>
            </li>

        </ul>
    </div>
</nav>