{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<!-- Use <nav class="navbar navbar-inverse"> for alternative black background styling -->
<p class="justify-centre" style="background-color:gray; color: white; margin-top:10px; padding-top: 2px; padding-bottom: 2px;">Free U.K. Mainland Shipping</p>
<nav class="navbar navbar-default navbar-expand-lg" style="background-color: white; padding-left: 40px;">
<!--    <nav class="navbar navbar-default" style="background-color: white">-->

    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"><span><img src="{% static "shop/images/oxford_logo2.png" %}" height=50; style="position: relative; top:-15px";"/></span><span style="position: relative; top:-15px; right: -3px;"> Oxford Micro</span><span style="color: green; position: relative; top:-15px; right: -3px;">Farm</span></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cabinets</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                <li class="">
                    <a href="{% url 'shop:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Our Story
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:team' %}">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp; Our Team
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Delivery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact Us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="{% static "shop/images/Netherlands_Flag.png" %}" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="{% static "shop/images/UK_Flag.png" %}" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:profile' %}">
                     {% else %}
                         <a href="{% url 'shop:register' %}">
                     {% endif %}
                         {% if request.user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Welcome, <b>{{ request.user.username }}</b></a>
                         {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account</a>
                         {% endif %}
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_authenticated %}
                         <a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                     {% else %}
                     {% endif %}
                 </li>
            </ul>

        </div>
    </div>
</nav>

<br>
<div class="container-fluid">

    <div class="justify-centre nametext">
        <span>Oxford Micro</span><span style="color:green;">Farm</span>
    </div>

<div class="justify-centre black">
    <p>_______________________________________________________________________________________________________________________________________</p>
</div>

<div class="justify-centre typewriter headertext">
    <span>Fresh. Organic. British</span>
    <!--<img src="{% static "shop/images/shoots1.jpg" %}" alt="Tender shoots" style="position: relative; left: 0; top: 20px; width: 100%;">-->
</div>
    <br>

<div class="slideshow-container">

<div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
        <img src="{% static "shop/images/shoots1.jpg" %}" style="width:100%;">
    <div class="text">Young Sprouts</div>
</div>

<div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
        <img src="{% static "shop/images/shoots7.jpg" %}" style="width:100%;">
    <div class="text">Shoots in Salad</div>
</div>

<div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
        <img src="{% static "shop/images/shoots2.jpg" %}" style="width:100%;">
    <div class="text">Young Shoots</div>
</div>

<div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
        <img src="{% static "shop/images/shoots6.jpg" %}" style="width:100%;">
    <div class="text">Radish Shoots</div>
</div>

<div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
        <img src="{% static "shop/images/shoots3.jpg" %}" style="width:100%;">
    <div class="text">Young Shoots</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<!--Create Automated and Manual Slideshow-->
<script>

var slideIndex = 1;
var timer = null;
showSlides(slideIndex);

function plusSlides(n) {
  clearTimeout(timer);
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  clearTimeout(timer);
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n==undefined){n = ++slideIndex}
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  timer = setTimeout(showSlides, 3500);
}

</script>

<div class="scroll-indicator fa fa-chevron-down arrow" style="position: fixed;"></div>


<div class="w3-section w3-2019-sweet-corn" style="position: relative; top: -20px; left: 0; height: auto; padding-bottom: 50px;">
    <div class="justify-centre headertext">
        <p>shop</p>
    </div>
    <div class="justify-centre">
        <div class="w3-container centre">
            <img src="{% static "shop/images/No_Image_Available.jpg" %}" class="w3-circle" alt="Logo" style="width: 20%">
        </div>
        <br>
        <br>
    </div>
</div>

    <!-- Work Experience -->
<div class="w3-section w3-2018-coconut-milk" style="position: relative; top: -40px; left: 0px; width: 100%; height: auto; padding-bottom: 50px;">
    <div class="justify-centre">
        <br>
        <h1 class="text-orange">Our Clients</h1>
        <br>
        <img src="{% static "shop/images/turl_street_kitchen.ico" %}" style="position: relative; left: 0; top: 20px; width: 20%;">
        <br>
        <br>
        <br>
    </div>
</div>

<div class="w3-section w3-2018-meerkat" style="position: relative; top: -60px; left: 0px; height: auto; width: 100%; padding-bottom: 50px;">
    <div class="justify-centre">
        <br>
        <h1 class="text-orange">...</h1>
        <br>
        <h4><i>Example Section</i></h4>
    </div>
</div>

<div class="w3-section w3-2018-cherry-tomato" style="position: relative; top: -80px; left: 0px; height: auto; width: 100%; padding-bottom: 50px;">
    <div class="justify-centre">
        <br>
        <h1 class="text-orange">...</h1>
        <br>
        <h4><i>Example Section</i></h4>
    </div>
</div>

{% endblock content %}