{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<header><meta http-equiv="refresh" content="6; /shop/home"/></header>

<p class="justify-centre" style="background-color:gray; color: white; margin-top:10px; padding-top: 2px; padding-bottom: 2px;">Free U.K. Mainland Shipping</p>
<nav class="navbar navbar-default navbar-expand-lg" style="background-color: white; padding-left: 40px;">
<!--    <nav class="navbar navbar-default" style="background-color: white">-->

    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"><span><img src="{% static "shop/images/oxford_logo2.png" %}" height=50; style="position: relative; top:-15px";"/></span><span style="position: relative; top:-15px; right: -3px;"> Oxford Micro</span><span style="color: green; position: relative; top:-15px; right: -3px;">Farm</span></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cabinets</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                <li class="">
                    <a href="{% url 'shop:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Our Story
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:team' %}">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp; Our Team
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Delivery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact Us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="{% static "shop/images/Netherlands_Flag.png" %}" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="{% static "shop/images/UK_Flag.png" %}" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:profile' %}">
                     {% else %}
                         <a href="{% url 'shop:register' %}">
                     {% endif %}
                         {% if request.user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Welcome, <b>{{ request.user.username }}</b></a>
                         {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account</a>
                         {% endif %}
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                     {% else %}
                     {% endif %}
                 </li>
            </ul>

        </div>
    </div>
</nav>

<style>

.column-left {
        position: relative;
        margin-left: 500px;
        margin-right: 450px;
}

</style>

<br>
<div class="justify-centre nametext">
    <span>Oxford Micro</span><span style="color:green;">Farm</span>
</div>

<div class="justify-centre black">
    <p>_______________________________________________________________________________________________________________________________________</p>
</div>
<br>

<div class="justify-centre">
    <h1 style="color: orange">Returning Customer</h1>
    <br>
    <h1 style="color:green;">Login successful</h1>
    <br>
    <h3>A warm welcome back {{ user.username }}. We're now redirecting you to the Home Page...</h3>
    <br>
    <h4>If you are not redirected within 6 seconds, please click on the link below</h4>
    <h4><a href="/shop/home/" style="color:green;">Redirect</a></h4>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}