{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<p class="justify-centre" style="background-color:gray; color: white; margin-top:10px; padding-top: 2px; padding-bottom: 2px;">Free U.K. Mainland Shipping</p>
<nav class="navbar navbar-default navbar-expand-lg" style="background-color: white; padding-left: 40px;">
<!--    <nav class="navbar navbar-default" style="background-color: white">-->

    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"><span><img src="{% static "shop/images/oxford_logo2.png" %}" height=50; style="position: relative; top:-15px";"/></span><span style="position: relative; top:-15px; right: -3px;"> Oxford Micro</span><span style="color: green; position: relative; top:-15px; right: -3px;">Farm</span></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cabinets</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                <li class="">
                    <a href="{% url 'shop:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Our Story
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:team' %}">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp; Our Team
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Delivery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact Us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="{% static "shop/images/Netherlands_Flag.png" %}" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="{% static "shop/images/UK_Flag.png" %}" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:profile' %}">
                     {% else %}
                         <a href="{% url 'shop:register' %}">
                     {% endif %}
                         {% if request.user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Welcome, <b>{{ request.user.username }}</b></a>
                         {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account</a>
                         {% endif %}
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_authenticated %}
                         <a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                     {% else %}
                     {% endif %}
                 </li>
            </ul>

        </div>
    </div>
</nav>

<style>

div.centre {
        text-align: center;
        font-size: 6px;

}

div.column-far-left {
        position: absolute;
        left: 500;
        right: 1000;
}

.column-left {
        position: relative;
        left: 1020;
        right: 450;
}

div.black {
        color: black;

}

.text-orange {
        color: orange;

}

.text-white {
        color: white;

}

div.nametext {
        color: black;
        font-family: 'Special Elite', cursive;
        font-size: 85px;
}

div.headertext {
        color: orange;
        font-family: 'Satisfy', cursive;
        font-size: 75px;
}

table.centre {
        margin-left: auto;
        margin-right: auto;
}

table.table1 {
        width: 50%;

}

table.table2 {
        margin-top: 50px;

}

th {
  text-align: left;
  vertical-align: top;

}

td {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;

}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(12, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 45% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.arrow {
    background: orange;
	color: black;
}

.scroll-indicator {
	position: absolute;
	left: 95%;
	font-size: 50px;

	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 88%; }
	 50%   { top: 89%; }
	 100% { top: 88%; }
}

@keyframes bounce {
	 0% { top: 88%; }
	 50%   { top: 89%; }
	 100% { top: 88%; }
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2000px;
}

.handwritten {
    font-family: 'Stalemate', cursive;
    font-size: 50px;
}

.grid_element {
  display: inline-block;
  width: 250px;
  height: 300px;
  padding-top: 50px;
  margin-left: 250px;

  zoom: 1;         /* for IE */
  display*:inline; /* for IE */
}

</style>

<br>
<div class="centre nametext">
    <span>Oxford Micro</span><span style="color:green;">greens</span>
</div>

<div class="centre black">
   <br>______________________________________________________________________________________________________________________________________________________________________________________________________________</br>
</div>
<br>
<div class="centre headertext typewriter">
    <span>Microgreens</span>
    <br>
    <p></p>
</div>

{% for product in products %}
    {% if product.image %}
        <div class="grid_element">
             <p><b>{{ product.name }}</b></p>
             <a href="/shop/products/microgreens/{{ product.slug }}">
                 <img src="{{ product.image.url }}" style="height:230px; padding:5px; border:thin solid lightgray;"/></a>
             <p>£{{ product.price }} Incl. VAT</p>
        </div>
    {% else %}
         <div class="grid_element">
             <p><b>{{ product.name }}</b></p>
             <a href="/shop/products/microgreens/{{ product.slug }}">
                 <img src="{% static "shop/images/No_Image_Available.jpg" %}" style="height:230px; padding:5px; border:thin solid lightgray;"/></a>
             <p>£{{ product.price }} Incl. VAT</p>
         </div>
    {% endif %}
{% endfor %}


{% endblock content %}