{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<!--Loads the path to your static files -->

<!-- Use <nav class="navbar navbar-inverse"> for alternative black background styling -->
<p class="justify-centre" style="background-color:gray; color: white; margin-top:10px; padding-top: 2px; padding-bottom: 2px;">Free U.K. Mainland Shipping</p>
<nav class="navbar navbar-default navbar-expand-lg" style="background-color: white; padding-left: 40px;">
<!--    <nav class="navbar navbar-default" style="background-color: white">-->

    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"><span><img src="{% static "shop/images/oxford_logo2.png" %}" height=50; style="position: relative; top:-15px";"/></span><span style="position: relative; top:-15px; right: -3px;"> Oxford Micro</span><span style="color: green; position: relative; top:-15px; right: -3px;">Farm</span></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cabinets</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                <li class="">
                    <a href="{% url 'shop:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Our Story
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:team' %}">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp; Our Team
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Delivery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact Us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="{% static "shop/images/Netherlands_Flag.png" %}" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="{% static "shop/images/UK_Flag.png" %}" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:profile' %}">
                     {% else %}
                         <a href="{% url 'shop:register' %}">
                     {% endif %}
                         {% if request.user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Welcome, <b>{{ request.user.username }}</b></a>
                         {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account</a>
                         {% endif %}
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_authenticated %}
                         <a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                     {% else %}
                     {% endif %}
                 </li>
            </ul>

        </div>
    </div>
</nav>

<div class="w3-section w3-2019-sweet-corn" style="position: relative; top: 0px; left: 0px; height: auto;">
    <br>
    <br>
    <br>
    <br>
    <div class="justify-centre headertext">
        <p></p>
        <p>Message Sent!</p>
    </div>
    <br>
    <br>
    <div class="justify-centre typewriter">
        <p></p>
        <h1><b>Thank You</b></h1>
    </div>
    <div class="justify-centre">
        <br>
        <br>
        <h4><b>Your message has been sent and received, and will be responded to as soon as possible</b></h4>
    </div>
    <br>
    <br>
    <br>
    <div class="button button-centre">
        <a href="{% url 'shop:home' %}" class="button">Return to Home Page</a>
    </div>
</div>

<style>

div.column-centre {
        position: absolute;
        left: 700;
        right: 700;
}

div.headertext {
        color: orange;
        font-family: 'Wire One', sans-serif;
        font-size: 75px;
}

.button {
      background-color: black;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 0px 0px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;

}

.button:hover { opacity: 1

}

div.button-centre {
      width: 350px;
      display: block;
      margin: 0 auto;
}

</style>

<!-- This is where the footer begins -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="">
                <a href="">
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp; 2018 - {% now "Y" %}. All rights reserved.
                </a>
            </li>
            <li class="">
                <a href="http://www.djangoproject.com/" target=blank>
                    <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django" title="Made with Django.">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="https://bitbucket.org/g_taylor2/" target=blank>
                    <img src="{% static "shop/images/Bitbucket_white.png" %}" alt="Bitbucket" aria-hidden="true" height="13">
                </a>
            </li>
            <li class="">
                <a href="https://www.linkedin.com/in/graham-taylor-4901322a/" target="blank">
                    <img src="{% static "shop/images/LinkedIn.png" %}" alt="LinkedIn" aria-hidden="true" height="16.5">
                </a>
            </li>
        </ul>

    </div>
</nav>

{% endblock content %}