{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<p class="justify-centre" style="background-color:gray; color: white; margin-top:10px; padding-top: 2px; padding-bottom: 2px;">Free U.K. Mainland Shipping</p>
<nav class="navbar navbar-default navbar-expand-lg" style="background-color: white; padding-left: 40px;">
<!--    <nav class="navbar navbar-default" style="background-color: white">-->

    <div class="container-fluid">

        <!--Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" aria-hidden="true"><span><img src="{% static "shop/images/oxford_logo2.png" %}" height=50; style="position: relative; top:-15px";"/></span><span style="position: relative; top:-15px; right: -3px;"> Oxford Micro</span><span style="color: green; position: relative; top:-15px; right: -3px;">Farm</span></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'shop:home' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cabinets</a>
                    <a class="dropdown-item" href="#">Accessories</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
                <li class="">
                    <a href="{% url 'shop:about' %}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp; Our Story
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'shop:team' %}">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp; Our Team
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:blog' %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Blog
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Delivery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'shop:contact' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Contact Us
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <img src="{% static "shop/images/Netherlands_Flag.png" %}" aria-hidden="true" height="14">&nbsp; NL
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                        <img src="{% static "shop/images/UK_Flag.png" %}" aria-hidden="true" height="12">&nbsp; UK
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'shop:delivery' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_active %}
                         <a href="{% url 'shop:profile' %}">
                     {% else %}
                         <a href="{% url 'shop:register' %}">
                     {% endif %}
                         {% if request.user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Welcome, <b>{{ request.user.username }}</b></a>
                         {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account</a>
                         {% endif %}
                 </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     {% if request.user.is_authenticated %}
                         <a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a>
                     {% else %}
                     {% endif %}
                 </li>
            </ul>

        </div>
    </div>
</nav>

<br>

<div class="justify-centre nametext">
     <span>Oxford Micro</span><span style="color:green;">Farm</span>
</div>
<div class="justify-centre">
   <p>_______________________________________________________________________________________________________________________________________</p>
</div>
<br>
<div class="justify-centre headertext typewriter">
    <span>Our Team...</span>
    <br>
</div>

<div class="w3-section w3-2019-sweet-corn" style="position: relative; top: 0px; left: 0px; height: auto;">
    <div class="justify-centre">
        <div class="w3-container">
            <br>
            <img src="{% static "shop/images/philip.jpg" %}" class="w3-circle" alt="shop Picture" style="width:400px;">
        </div>
        <br>
        <br>
    </div>


    <div class="justify-centre" style="padding-bottom: 180px; margin-left: 25%; margin-right: 25%;">
        <br>
        <p class="justify-centre" style="font-size:20px;"><b>Philip Jones</b></p>
        <p>Philip has extensive practical experience growing just about anything with leaves and served as the greenhouse manager at Cutteslowe Park, a historical park located in the North of Oxford. A nursery he cofounded won Gold in 2008 in the category "Best nursery in the Republic of Ireland for quality and shopper experience"</p>
        <p></p>
        <p class="handwritten"></p>
        <p>I look forward to continuing supporting you as an integral part of our success.</p>
        <p>Sincerely,<br>
        </p>
        <p class="handwritten justify-centre">Philip</p>
    </div>
</div>

<div class="w3-section w3-2018-meerkat" style="position: relative; top: 0px; left: 0px; height: auto;">
    <div class="justify-centre">
        <div class="w3-container">
            <br>
            <img src="{% static "shop/images/tracy.jpg" %}" class="w3-circle" alt="shop Picture" style="width:400px;">
        </div>
        <br>
        <br>
    </div>

    <div class="justify-centre" style="padding-bottom: 180px; margin-left: 25%; margin-right: 25%;">
        <br>
        <p class="justify-centre" style="font-size:20px;"><b>Tracy Wathen-Jones</b></p>
        <p>Tracy brings a wealth of experience with a research background in organic farming and cutting-edge journalism for the British Soil Growers Association.</p>
        <p></p>

        <p class="handwritten"></p>

        <p>Let's continue to work together with you, for you.</p>

        <p>Sincerely,<br>
        </p>
        <p class="handwritten justify-centre">Tracy</p>
    </div>
</div>

<div class="w3-section w3-2019-bluestone" style="position: relative; top: 0px; left: 0px; height: auto;">
    <div class="justify-centre">
        <div class="w3-container">
            <br>
            <img src="{% static "shop/images/No_Image_Available.jpg" %}" class="w3-circle" alt="shop Picture" style="width:200px;">
        </div>
        <br>
        <br>
    </div>


    <div class="justify-centre" style="padding-bottom: 180px; margin-left: 25%; margin-right: 25%;">
        <br>
        <p class="justify-centre" style="font-size:20px;"><b>Joe Blogs</b></p>
        <p>Farmer</p>
        <p class="handwritten"></p>
        <p>Placeholder for profile</p>
        <p>Sincerely,<br></p>
        <p class="handwritten justify-centre">Joe</p>
    </div>
</div>

{% endblock content %}

