.navbar {
    margin-bottom: 0;
    margin-left:0;
}

ul.breadcrumb {
  border-radius: 0 !important;
}

ul.breadcrumb {padding-left: 53px; margin-left: 0px; padding-bottom: 2px; padding-top: 2px;}

ul.breadcrumb {
  list-style: none;
  background-color: black; <!--transparent!important-->#E1C99B
  font-family: 'Slabo 27px', serif !important;

}

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}


ul.breadcrumb li+li:before {
  padding: 7px;
  color: white;
  content: ">\00a0";
}

ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: white;
  text-decoration: underline;
}

<div class="container">
  <h1>Using Breadcrumbs Effectively</h1>
  <div class="content-crumb-div">
        <a class="fileTrail" href="#">Home</a> <i class="fa fa-arrow-right"></i> <a class="fileTrail" href="#">Blog</a> <i class="fa fa-arrow-right"></i> <a class="fileTrail" href="#">Web Design</a> <i class="fa fa-arrow-right"></i> <span class="fileTrailCurrent">Using Breadcrumbs Effectively</span>
  </div>
</div>