body{
    background: white url("images/oak_tree.jpg");
    background-repeat: repeat;
    background-size:100%;
    color: white;
    margin:0px;
    padding-top:15px;
    padding-bottom:0px;
    height:100%;
}

.navbar{
    border-radius: 0;
    <!background-image: url()
}

.navbar-brand{
    font-family: 'Cinzel', cursive;
}

.animatedtext{
    animation: fadeAndScale 2.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:80px;
    font-family: 'Cinzel', cursive;
}

.animatedtext2{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:50px;
    font-family: 'Ubuntu';
}

.animatedtext3{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:20px;
    font-family: 'Arial', cursive;
}

@keyframes fadeAndScale{
    from {
    opacity: 0;
    <!-->transform: scale3d(.50, .50, 1);
    }
    to{
    opacity: 1;
     <!-->transform: scale3d(1, 1, 1);
    }
}
