body{
    background: white url("images/wood_rings4.jpg");
    background-repeat: repeat;
    background-size:100%;
    color: white;
    font-family: 'Cinzel', cursive;
    margin:0px;
    padding-top:15px;
    padding-bottom:0px;
    height:100%;
}


.navbar{
    border-radius: 0;
    border: 50px;
    <!background-image: url()
}

.navbar-brand{
    font-family: 'Cinzel', cursive;
}

p{
    margin: 25px 50px 75px 100px;
}
