body{
    background: black;
    background-repeat: repeat;
    background-size:100%;
    color: white;
    padding-top:15px;
    padding-bottom:0px;
    height:100%;
}

.navbar{
    border-radius: 0;
    <!background-image: url()
}

.navbar-brand{
    font-family: 'Cinzel', cursive;
}

.animatedtext{
    animation: fadeAndScale 2.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:80px;
    font-family: 'Cinzel', cursive;
}

.animatedtext2{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:50px;
    font-family: 'Ubuntu';
}

.animatedtext3{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:20px;
    font-family: 'Arial', cursive;
}

@keyframes fadeAndScale{
    from {
    opacity: 0;
    <!-->transform: scale3d(.50, .50, 1);
    }
    to{
    opacity: 1;
     <!-->transform: scale3d(1, 1, 1);
    }
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}





* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-left: auto;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-right: -100px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  z-index: +1; position:relative;
  margin-bottom:100px;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




