body{
    background: white url("https://i.ytimg.com/vi/xMwXzxRqz4w/maxresdefault.jpg");
    background-repeat: repeat;
    background-size:100%;
    color: white;
    margin:0px;
    padding-top:15px;
    padding-bottom:0px;
    height:100%;
}

.navbar{
    border-radius: 0;
    <!background-image: url()
}

.navbar-brand{
    font-family: 'Cinzel', cursive;
}

.animatedtext{
    animation: fadeAndScale 2.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:80px;
    font-family: 'Cinzel', cursive;
}

.animatedtext2{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:50px;
    font-family: 'Ubuntu';
}

.animatedtext3{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:20px;
    font-family: 'Arial', cursive;
}

@keyframes fadeAndScale{
    from {
    opacity: 0;
    <!-->transform: scale3d(.50, .50, 1);
    }
    to{
    opacity: 1;
     <!-->transform: scale3d(1, 1, 1);
    }
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ytimg.com/vi/xMwXzxRqz4w/maxresdefault.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

