body{background: white url("images/eucalyptus7.jpg");
    background-size:100%;
    color: white;
    margin:0px;
    padding-top:15px;
    padding-bottom:0px;
    height:100%;
}

.navbar{
    border-radius: 0;
    <!background-image: url()
}

.navbar-brand{
    font-family: 'Cinzel', cursive;
}

.animatedtext{
    animation: fadeAndScale 2.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:80px;
    font-family: 'Cinzel', cursive;
}

.animatedtext2{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:50px;
    font-family: 'Ubuntu';
}

.animatedtext3{
    animation: fadeAndScale 5.0s ease-in; <!--#cubic-bezier-->
    <!-->transform-origin: left top;
    font-size:20px;
    font-family: 'Arial', cursive;
}

@keyframes fadeAndScale{
    from {
    opacity: 0;
    <!-->transform: scale3d(.50, .50, 1);
    }
    to{
    opacity: 1;
     <!-->transform: scale3d(1, 1, 1);
    }
}

.demo {
  padding: 15px !important;
  margin: 0 !important;
  line-height: 40px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.imageBox {
  margin-top:2cm;
  margin-right:0cm;
  margin-left:0cm;
  margin-bottom:0cm;
  padding-top:8px;
  padding-bottom:0px;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
 float: left;
  width: 100%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#wrap {
    margin: 1em 1em;
}

.left {
    float: left;
    margin-right: 500px;
}
.right {
    float: right;
    margin-left: 1em;
}
p {
    margin-bottom: 2.5em;
    overflow: hidden; /* this is what keep the <p> from wrapping */
}
p:last-child {
    overflow: visible; /* this is an example of the browser default */
}

.margins {
    margin-left:18cm;
    margin-right:20cm;
}

div.boxbox {
  line-height: 90%;
}

div.opacity {
  background: rgba(253, 247, 221, 0.9);
}

#t1 {
  -moz-tab-size: 4; /* Firefox */
  -o-tab-size: 4; /* Opera 10.6-12.1 */
  tab-size: 4;
}